:root {
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --iphone-shadow: 0px 74px 74px 0px rgba(0, 0, 0, 0.25), 0px 164px 250px 0px rgba(0, 0, 0, 0.15),
    0px -76px 80px 0px rgba(255, 255, 255, 0.1), 0px -26px 114px 0px rgba(0, 0, 0, 0.1);
  --m-3syslightprimary: rgba(101, 85, 143, 1);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
  --m3syslightsurface-container-highest: rgba(230, 224, 233, 1);
  --neutralswhite: rgba(255, 255, 255, 1);
  --subtitle-font-family: "Inter", Helvetica;
  --subtitle-font-size: 32px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 400;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 120.00000762939453%;
  --title-page-font-family: "Inter", Helvetica;
  --title-page-font-size: 48px;
  --title-page-font-style: normal;
  --title-page-font-weight: 700;
  --title-page-letter-spacing: -0.96px;
  --title-page-line-height: 120.00000762939453%;
}
